.travel-packages {
    padding: 44px var(--GLOBAL-PADDING-HORIZONTAL);
    background-image: url("../assets/images/travel_packages_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

#view-more-button {
    border: none;
    background-color: var(--GREEN-THEME-COLOR);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 22px;
}

.travel-packages-body {
    display: flex;
    gap: 20px;
}

/* CARD */

.packages-card {
    flex: 1;
    box-shadow: 8px 8px 20px rgb(203, 203, 203),
        -8px 8px 20px rgb(203, 203, 203);
    background-color: #fff;
}

.packages-card > img {
    display: block;
    width: 100%;
    height: auto;
}

.packages-info {
    display: flex;
}

.packages-info-content {
    flex: 1;
    display: flex;
    color: var(--GREEN-THEME-COLOR);
    gap: 4px;
    padding-block: 11px;
    justify-content: center;
    border: 1px solid #e3e3e3;
}

/* BODY */

.packages-card-body {
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding: 10px 36px;
}

/* TITLE AND RATING */

.packages-title {
    font-size: 22px;
    font-weight: 400;
    color: var(--GREEN-THEME-COLOR);
}

.packages-title-rating {
    display: flex;
    justify-content: space-between;
}

.packages-rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.packages-card-body p {
    font-size: 14px;
    font-weight: 300;
}

/* BUTTONS */

.packages-card-buttons-section {
    margin-top: 17px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.packages-card-buttons {
    border: none;
    background-color: var(--GREEN-THEME-COLOR);
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 0px;
    width: 8rem;
}
