@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    /* COLORS */
    --HEADER-BACKGROUND-COLOR: #000;
    --HEADER-FONT-COLOR: #fff;

    /* DIMENSIONS */
    --SOCIAL-ICONS-SIZE: 30px;

    /* PADDINGS */
    --HEADER-PADDING: 10px 150px;
}

html {
    font-family: "Inter", sans-serif;
}

/* HEADER */

header {
    background-color: var(--HEADER-BACKGROUND-COLOR);
    color: var(--HEADER-FONT-COLOR);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--HEADER-PADDING);
}

.info,
.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.info {
    font-size: 12px;
}

.info address {
    font-style: normal;
}

.info a {
    color: white;
    text-decoration: none;
}

.circle {
    border: 2px solid white;
    border-radius: 50%;
    height: var(--SOCIAL-ICONS-SIZE);
    width: var(--SOCIAL-ICONS-SIZE);
    display: grid;
    place-content: center;
}

.info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
