@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

:root {
    /* COLORS */
    --HEADER-BACKGROUND-COLOR: #000;
    --HEADER-FONT-COLOR: #fff;
    --UNDERLINE-COLOR: #24ff00;

    /* DIMENSIONS */
    --SOCIAL-ICONS-SIZE: 30px;

    /* PADDINGS */
    --GLOBAL-PADDING-HORIZONTAL: 10%;
    --HEADER-PADDING: 10px var(--GLOBAL-PADDING-HORIZONTAL);
}

html {
    font-family: "Inter", sans-serif;
}

button,
input {
    font: inherit;
}

.global-padding-horizontal {
    background-image: url("../assets/images/banner_background_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* HEADER */

header {
    background-color: var(--HEADER-BACKGROUND-COLOR);
    color: var(--HEADER-FONT-COLOR);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--HEADER-PADDING);
}

.info,
.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.info {
    font-size: 12px;
}

.info address {
    font-style: normal;
}

.info a {
    color: white;
    text-decoration: none;
}

.circle {
    border: 2px solid white;
    border-radius: 50%;
    height: var(--SOCIAL-ICONS-SIZE);
    width: var(--SOCIAL-ICONS-SIZE);
    display: grid;
    place-content: center;
}

.info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* BANNER-HEADING */

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px var(--GLOBAL-PADDING-HORIZONTAL);
    border-bottom: 1px solid #d0d0d0;
}

.logo {
    display: flex;
    align-items: center;
}

#brand-name {
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.nav ul li a:any-link {
    color: white;
}

#register-button {
    font-size: 16px;
    font-weight: 700;
    padding: 11px 33px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

#register-button:hover {
    background-color: #fff;
    color: #000;
}

.selection-underline::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    margin-top: 4px;
    background-color: var(--UNDERLINE-COLOR);
}

/* BANNER-BODY */

.heading-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    text-align: center;
    color: white;
    padding-block: 10%;
    position: relative;
}

.heading-details p:first-child {
    font-size: 64px;
    font-weight: 700;
}

.heading-details p:last-child {
    font-size: 24px;
    margin-top: 16px;
}

#search,
#search-button {
    border: none;
    outline: none;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f6f6;
    border-radius: 30px;
    padding: 10px;
    width: 50%;
}

.search-input {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

#search {
    flex-grow: 1;
    background-color: transparent;
    font-weight: 300;
    font-size: 16px;
}

#search-button {
    background-color: #19b200;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 30px;
    padding: 12px 30px;
    cursor: pointer;
}

/* BANNER-DOTS */

.banner-dots {
    position: absolute;
    bottom: 60px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.dots {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
}

.current-dot {
    background-color: #19b200;
}
